In this phase of KPMG AU Virtual Internship program, I will be getting rid of the data quality issues identified in the previous notebook. For the first dataset __Customer Demographic__, the Data quality issues includes;

Completeness

The dataset is made up of 4000 entries with 13 attributes (columns). The dataset contains missing values in the following columns; last_name - 125 missing values, DOB - 87 missing values, job_title - 506 missing values, job_industry_category - 656 missing values, default - 302 missing values, tenure - 87 missing values.

 - Consistency

The gender column is made up of 3 distinct genders, Male, Female, and Unknown. But the representations of these genders are not consistent. Also, the representation of the 'Yes' and 'No' throughout the dataset is not consistent. In the deceased_indicator column, it is represented using the first letter uppercase ('Y', 'N'), while in the owns_car column, it is represented in full ('Yes', 'No').

 - Relevancy

The default column contains data that are not relevant, it is not human readable and therefore doesn't add any useful information that could be relevant to the analysis of this data set.

 - Validity

A customer, Jephthah Bachmann according to the dataset, is born on 1843-12-21 which means that this customer is 180years, this could probably be some mistake.

The customer_id is of an invalid datatype(int). The customer_id serves as a means of identification for the customers and so should be of the 'object' data type.

In [5]:
import pandas as pd

cust_demo_df = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx',
                            sheet_name = 'CustomerDemographic', skiprows = 1)
cust_demo_df.head()

<ipython-input-5-0a80eb164993>:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  cust_demo_df = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx',

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [6]:
cust_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [7]:
# drop irrelevant columns for now
cust_demo_df.drop(columns = ["job_title", "default"], inplace = True)

In [8]:
# drop the null values
cust_demo_df.dropna(inplace = True)

In [9]:
cust_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3161 entries, 0 to 3996
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3161 non-null   int64
 1   first_name                           3161 non-null   object
 2   last_name                            3161 non-null   object
 3   gender                               3161 non-null   object
 4   past_3_years_bike_related_purchases  3161 non-null   int64
 5   DOB                                  3161 non-null   datetime64[ns]
 6   job_industry_category                3161 non-null   object
 7   wealth_segment                       3161 non-null   object
 8   deceased_indicator                   3161 non-null   object
 9   owns_car                             3161 non-null   object
 10  tenure                               3161 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(7)
memory usage: 296.3+ KB

In [10]:
# deal with the inconsistency in data representation in the gender column
cust_demo_df["gender"].value_counts()

Female    1642
Male      1516
F            1
U            1
Femal        1
Name: gender, dtype: int64

In [11]:
cust_demo_df["gender"]. replace("F", "Female", inplace = True)
cust_demo_df["gender"]. replace("Femal", "Female", inplace = True)
cust_demo_df["gender"]. replace("U", "Unknown", inplace = True)
cust_demo_df["gender"].unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [12]:
# replace 'Y' and 'N' with 'Yes', 'No' in the deceased indicator attribute
cust_demo_df["deceased_indicator"].replace('Y', 'Yes', inplace = True)
cust_demo_df["deceased_indicator"].replace('N', 'No', inplace = True)
cust_demo_df["deceased_indicator"].unique()

array(['No', 'Yes'], dtype=object)

In [13]:
cust_demo_df['DOB'].replace('1843-12-21','1943-12-21')
cust_demo_df['DOB'].dt.year.unique()

array([1953, 1980, 1954, 1966, 1976, 1973, 1988, 1994, 1955, 1983, 2000,
       2001, 1962, 1977, 1978, 1968, 1961, 1995, 1843, 1963, 1985, 1979,
       1981, 1975, 1992, 1959, 1956, 1996, 1967, 1970, 1965, 2002, 1993,
       1972, 1989, 1986, 1974, 1984, 1960, 1998, 1997, 1990, 1999, 1982,
       1957, 1964, 1987, 1969, 1971, 1958, 1991, 1944, 1931, 1935, 1943,
       1940])

In [14]:
cust_demo_df['job_industry_category'].unique()

array(['Health', 'Financial Services', 'Property', 'Retail',
       'Argiculture', 'Manufacturing', 'IT', 'Telecommunications',
       'Entertainment'], dtype=object)

For now, I am done with some relevant cleaning. I will then proceed by fixing the datatypes of some of the columns in our data set.

In [18]:
# Fixing the datatypes of some columns with incorrect or unsuitable data types
cust_demo_df.customer_id = cust_demo_df['customer_id'].astype(str)
cust_demo_df.wealth_segment = cust_demo_df['wealth_segment'].astype('category')
cust_demo_df.gender = cust_demo_df['gender'].astype('category')
cust_demo_df.owns_car = cust_demo_df['owns_car'].astype('category')
cust_demo_df.dtypes

customer_id                                    object
first_name                                     object
last_name                                      object
gender                                       category
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_industry_category                          object
wealth_segment                               category
deceased_indicator                             object
owns_car                                     category
tenure                                        float64
dtype: object

In [19]:
# drop the deceased_indicator attribute
cust_demo_df.drop(['deceased_indicator'], inplace = True, axis = 1)
cust_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3161 entries, 0 to 3996
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3161 non-null   object
 1   first_name                           3161 non-null   object
 2   last_name                            3161 non-null   object
 3   gender                               3161 non-null   category
 4   past_3_years_bike_related_purchases  3161 non-null   int64
 5   DOB                                  3161 non-null   datetime64[ns]
 6   job_industry_category                3161 non-null   object
 7   wealth_segment                       3161 non-null   category
 8   owns_car                             3161 non-null   category
 9   tenure                               3161 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 207.2+ KB

In [20]:
# create the age attribute to know the age distribution of the customers
cust_demo_df['age'] = 2023 -  cust_demo_df['DOB'].dt.year
cust_demo_df.drop(["DOB"], axis = 1, inplace = True)
print(cust_demo_df.info())
cust_demo_df['age'].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3161 entries, 0 to 3996
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3161 non-null   object
 1   first_name                           3161 non-null   object
 2   last_name                            3161 non-null   object
 3   gender                               3161 non-null   category
 4   past_3_years_bike_related_purchases  3161 non-null   int64
 5   job_industry_category                3161 non-null   object
 6   wealth_segment                       3161 non-null   category
 7   owns_car                             3161 non-null   category
 8   tenure                               3161 non-null   float64
 9   age                                  3161 non-null   int64
dtypes: category(3), float64(1), int64(2), object(4)
memory usage: 207.2+ KB
None

0    70
1    43
2    69
5    57
6    47
Name: age, dtype: int64

Now, I am done cleaning the data set, I will do the same for the customer __Transactions__ dataset.

The data quality issues includes;

Completeness

The dataset is made up of 2000 entries with 13 attributes (columns). The dataset contains missing values in the following columns; Onlin_order - 360 missing values, brand - 197 missing values, product_line - 197 missing values, product_class - 197 missing values, product_size - 197 missing values, standard_cost - 197 missing values.

 - Consistency
The Data Representations accross the data set are not consistent, in some columns. data entries are in the title case while some others are represented in lower case.

 - Accuracy
The following columns transaction_id, product_id, and customer_id are of incorrect dtype (int). These columns are used in identification of an observation and no mathematical operation is expected to be performed on these columns, and so should be of the type 'str' or 'object'. Also, the following column, product_line, product_class, product_size,standard_cost should be of the dtype, 'category'.

 - Relevancy
The column, product_first_sold_date is of the wrong dtype(float), and does not contain the relevant information needed in this analysis

In [21]:
# load the dataset
trans_df = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx',
                            sheet_name = 'Transactions', skiprows = 1)

trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [22]:
# drop some irrelevant columns
trans_df.drop(columns = ['transaction_id', 'product_id',
                         'transaction_date', 'online_order', 
                         'order_status','list_price',
                         'standard_cost', 'product_first_sold_date'], inplace = True)

In [23]:
trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    20000 non-null  int64
 1   brand          19803 non-null  object
 2   product_line   19803 non-null  object
 3   product_class  19803 non-null  object
 4   product_size   19803 non-null  object
dtypes: int64(1), object(4)
memory usage: 781.4+ KB

In [24]:
trans_df.head()

   customer_id           brand product_line product_class product_size
0         2950           Solex     Standard        medium       medium
1         3120   Trek Bicycles     Standard        medium        large
2          402      OHM Cycles     Standard           low       medium
3         3135  Norco Bicycles     Standard        medium       medium
4          787  Giant Bicycles     Standard        medium        large

In [25]:
print(trans_df.product_line.unique())
print(trans_df.product_class.unique())
print(trans_df.product_size.unique())

['Standard' 'Road' 'Mountain' 'Touring' nan]
['medium' 'low' 'high' nan]
['medium' 'large' 'small' nan]

In [27]:
# convert the columns to a more appropriate datatype
trans_df['customer_id'] = trans_df['customer_id'] .astype(str)
trans_df['product_line'] = trans_df['product_line'] .astype('category')
trans_df['product_class'] = trans_df['product_class'] .astype('category')
trans_df['product_size'] = trans_df['product_size'] .astype('category')
trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    20000 non-null  object
 1   brand          19803 non-null  object
 2   product_line   19803 non-null  category
 3   product_class  19803 non-null  category
 4   product_size   19803 non-null  category
dtypes: category(3), object(2)
memory usage: 371.7+ KB

In [28]:
# drop the null values
trans_df.dropna(inplace = True)
trans_df.shape

(19803, 5)

I will repeat the cleaning process for the __CustomerAddress__ dataset. In this case, I will find out the data quality issues and clean as I go.

In [29]:
# load the dataset
address_df = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx',
                            sheet_name = 'CustomerAddress', skiprows = 1)
address_df.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [32]:
address_df.country.unique()

array(['Australia'], dtype=object)

In [33]:
address_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [34]:
# drop irrelevant columns
address_df.drop(columns = ['address', 'postcode', 'country'], inplace = True)
address_df.head()

   customer_id            state  property_valuation
0            1  New South Wales                  10
1            2  New South Wales                  10
2            4              QLD                   9
3            5  New South Wales                   4
4            6              VIC                   9

In [35]:
address_df.state.unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [38]:
# clean up the state column
address_df['state'].replace('QLD', 'Queensland', inplace = True)
address_df['state'].replace('VIC', 'Victoria', inplace = True)
address_df['state'].replace('NSW', 'New South Wales', inplace = True)
address_df.state.unique()

array(['New South Wales', 'Queensland', 'Victoria'], dtype=object)

In [40]:
address_df.property_valuation.unique()

array([10,  9,  4, 12,  8,  6,  7,  3,  5, 11,  1,  2])

In [42]:
address_df.dtypes

customer_id            int64
state                 object
property_valuation     int64
dtype: object

In [43]:
address_df['customer_id'] = address_df['customer_id'].astype(str)
address_df.dtypes

customer_id           object
state                 object
property_valuation     int64
dtype: object

Its now time to merge the  datasets

In [45]:
old_cust = cust_demo_df.merge(address_df, on = 'customer_id',
                                  how = 'inner').merge(trans_df, on = 'customer_id',
                                  how = 'inner')
old_cust.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,job_industry_category,wealth_segment,owns_car,tenure,age,state,property_valuation,brand,product_line,product_class,product_size
0,1,Laraine,Medendorp,Female,93,Health,Mass Customer,Yes,11.0,70,New South Wales,10,OHM Cycles,Standard,medium,medium
1,1,Laraine,Medendorp,Female,93,Health,Mass Customer,Yes,11.0,70,New South Wales,10,Solex,Standard,medium,medium
2,1,Laraine,Medendorp,Female,93,Health,Mass Customer,Yes,11.0,70,New South Wales,10,Trek Bicycles,Road,low,small
3,1,Laraine,Medendorp,Female,93,Health,Mass Customer,Yes,11.0,70,New South Wales,10,Norco Bicycles,Standard,medium,medium
4,1,Laraine,Medendorp,Female,93,Health,Mass Customer,Yes,11.0,70,New South Wales,10,Solex,Standard,medium,medium

In [46]:
old_cust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15656 entries, 0 to 15655
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          15656 non-null  object
 1   first_name                           15656 non-null  object
 2   last_name                            15656 non-null  object
 3   gender                               15656 non-null  category
 4   past_3_years_bike_related_purchases  15656 non-null  int64
 5   job_industry_category                15656 non-null  object
 6   wealth_segment                       15656 non-null  category
 7   owns_car                             15656 non-null  category
 8   tenure                               15656 non-null  float64
 9   age                                  15656 non-null  int64
 10  state                                15656 non-null  object
 11  property_valuation                   15656 non-null  int64
 12  brand                                15656 non-null  object
 13  product_line                         15656 non-null  category
 14  product_class                        15656 non-null  category
 15  product_size                         15656 non-null  category
dtypes: category(6), float64(1), int64(3), object(6)
memory usage: 1.4+ MB

In [47]:
# save the new data frame
old_cust.to_csv('old_customer_dataset.csv')

Well guys, I am not done, I will continue the cleaning and the analysis proper later but for now, lets leave it at this.